html,
body {
  height: 100%;
}
#main {
  height: 100%;
  background-color: #67BCDB;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
#main .content {
  margin-top: 20%;
}
#main .content h1 {
  text-align: center;
}
#main .links {
  display: table;
  margin: 0 auto;
  padding: 20px 0;
  list-style: none;
  font-size: 36px;
}
#main .links li {
  float: left;
  padding: 10px;
}
#main .links li a {
  color: white;
}
